Source: bombono-dvd
Section: graphics
Priority: optional
Maintainer: Ilya Murav'jov <muravev@yandex.ru>
Build-Depends: binutils-gold, cdbs, debhelper (>= 4.1.0), scons, libdvdread-dev, libgtkmm-2.4-dev, libxml++2.6-dev, libavformat-dev, libswscale-dev
Homepage: http://www.bombono.org
Standards-Version: 3.7.3

Package: bombono-dvd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dvdauthor, mjpegtools, dvd+rw-tools, ffmpeg, enca
Suggests: totem, gvfs, scons, twolame
Description: DVD authoring program with nice and clean GUI
 Bombono DVD is easy to use program for making DVD-Video.
 The main features of Bombono DVD are:
  * Excellent video viewer: Timeline and Monitor
  * Real WYSIWYG Menu Editor with live thumbnails
  * Comfortable Drag-N-Drop support
  * Transcoding, if necessary (from AVI/MKV/MOV/MPEG4...)
  * Motion menus
  * Subtitles support
  * You can author to folder, make ISO-image or burn directly to DVD
  * Reauthoring: you can import video from DVD discs.
